<!-- Generated template for the IonPasscodeComponent component -->
    <div class="ion-passcode-container">
      <ion-grid class="header">
        <ion-row>
          <ion-col class="text" [innerHTML]="options.title"></ion-col>
        </ion-row>
        <ion-row class="passcode-indicator" [class.error]="hasError">
         <!-- <ion-col *ngFor="let i of getIndicatorArray();">
            <div class="circle" [class.selected]="passcode.length >= i"></div>
          </ion-col>
          -->
          <ion-col >
            <!--input class="keypad-input" type="password"  [(ngModel)]='passcode' autofocus/-->
              <ion-input class="keypad-input" type="password" [(ngModel)]='passcode' #focusInput  autofocus></ion-input>
          </ion-col>



        </ion-row>
      </ion-grid>
      <ion-grid class="keys-grid key-top-margin">
        <ion-row>
          <ion-col class="key">
            <button ion-button outline (click)="onKeyClick(1)">1</button>
          </ion-col>
          <ion-col class="key">
            <button ion-button outline (click)="onKeyClick(2)">2</button>
          </ion-col>
          <ion-col class="key">
            <button ion-button outline (click)="onKeyClick(3)">3</button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="key">
            <button ion-button outline (click)="onKeyClick(4)">4</button>
          </ion-col>
          <ion-col class="key">
            <button ion-button outline (click)="onKeyClick(5)">5</button>
          </ion-col>
          <ion-col class="key">
            <button ion-button outline (click)="onKeyClick(6)">6</button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="key">
            <button ion-button outline (click)="onKeyClick(7)">7</button>
          </ion-col>
          <ion-col class="key">
            <button ion-button outline (click)="onKeyClick(8)">8</button>
          </ion-col>
          <ion-col class="key">
            <button ion-button outline (click)="onKeyClick(9)">9</button>
          </ion-col>
        </ion-row>
        <ion-row class="row">
          <ion-col class="key col delete-key delete-key-{{getDeleteKeyType()}}">
            
            <button ion-button outline *ngIf="getDeleteKeyType() === 'text'" (click)="onDeleteKeyClick()" [innerHTML]="getDeleteKeyValue()"></button>

              <button ion-button outline *ngIf="getDeleteKeyType() === 'icon'" (click)="onDeleteKeyClick()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>

          </ion-col>
          <ion-col class="key">
            <button ion-button outline (click)="onKeyClick(0)">0</button>
          </ion-col>
          <ion-col class="key col delete-key delete-key-{{getDeleteKeyType()}}">
             <button ion-button outline >  <i class="fa fa-check"></i></button>

          </ion-col>
        </ion-row>

        <ion-row class="row">
          <ion-label class = "option-label">Otras Opciones</ion-label> 
        </ion-row>

        <ion-row class="row key-top-margin">
          <ion-col col-3>
          </ion-col>
          <ion-col col-3>            
            <i class="fa fa-th deactive-button i-keypad"></i>           
          </ion-col>

          <ion-col col-3>
            <button class="none-bg">
            <i class="fa fa-envelope active-button i-mail"  (click)="gotoEmailLogin()"></i>
            </button>
          </ion-col>
              
          <ion-col col-3>      
          </ion-col>
      </ion-row>

      <ion-row class="row">
        <ion-col class="key"><br></ion-col>
      </ion-row>
      </ion-grid>


    </div>
