ion-passcode {
    .ion-passcode-container {
      display: flex;
      flex-direction: column;
      justify-content: center; 
      height: 100%;
      background:#3A3A3C  !important;
      // background: linear-gradient(to bottom right, #9e1654 0%, #db5857 85%);
      color: white;
      text-align: center;
    }
    .header {
      margin: 6rem auto 0 auto;
    }
    .header .text {
      font-size: 1.2em;
      font-weight: 500;
      text-shadow: 0px 0px 1px #333;
    }

  .keypad-input{
      width: 100%;
      padding: 0;
      border: none;
      color: #fff;
      font-size: 40px;
      font-weight: 600;
      text-align: center;
      background: transparent;
  }

    .header .passcode-indicator {
      /*width: 180px;*/
          width: 215px;
    border-bottom: 2px solid #5d5d5d;
   
      margin: 1rem auto;
    }
    .header .passcode-indicator.error {
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
    }
    .header .passcode-indicator .circle {
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background-color: rgba(0,0,0,.4);
      margin: auto;
      transition: all 150ms ease-in-out;
    }
    .header .passcode-indicator .circle.selected {
      background-color: #fff;
      box-shadow: 0px 0px 8px 2px #fff;
    }
.key-top-margin{

  margin-top:-1em!important;
}

    .keys-grid {
      max-width: 300px;
      margin: auto;
    }
    .keys-grid .key button {
      // border-radius: 50%;
      padding: 3rem 2.8rem;
      color: white;
      // border-color: rgba(204, 204, 204, .6);
      border-color: transparent
    }
    .keys-grid .key button.button-outline-ios.activated {
      background-color: rgba(204, 204, 204, .6);
    }
    :host >>> .keys-grid .key button div.button-effect {
      background-color: #ccc;
    }
    .keys-grid .key.delete-key button {
      text-transform: uppercase;
      color: rgba(255, 255, 255, 1.0);
      border-color: transparent;
      font-size: 90%;
      padding: 0;
      line-height: 62px;
      height: 62px;
      width: 66px;
    }
    .keys-grid .key.delete-key.delete-key-icon button {
      font-size: 110%;
    }
    @media (max-height: 480px) {
      .header {
        margin-top: 5rem;
      }
      .header .passcode-indicator {
        width: 150px;
        margin: 1.5rem auto;
      }
    }
    @media (min-height: 481px) and (max-height: 568px) {
      .header {
        margin-top: 6rem;
      }
    }
    @media (min-height: 569px) and (max-height: 667px) {
      .header {
        margin-top: 8rem;
      }
    }
    @media (min-height: 700px) {
      .header {
        margin-top: 12rem;
      }
    }

    @keyframes shake {
      10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }
      
      20%, 80% {
        transform: translate3d(3px, 0, 0);
      }

      30%, 50%, 70% {
        transform: translate3d(-6px, 0, 0);
      }

      40%, 60% {
        transform: translate3d(6px, 0, 0);
      }
    }

    i.active-button {
        font-size: 50px;
        color: #999999 !important
    }

    i.deactive-button {
        font-size: 50px;
        color: #5d5d5d !important
    }

    i.i-keypad {
      margin-top: 4px;
    }

    button.none-bg{
        background: transparent;
    }

    ion-label.option-label {
            height: 25px;            
            font-size: 16px;
            padding-left: 10px;
            color: #f2f2f2 !important 
            
                
        }
}
