<!--
  Generated template for the LoginEmailPage page.



  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header no-border>
  <!--<ion-navbar>
    
  </ion-navbar> -->
</ion-header>


<ion-content padding>
<ion-grid >
  <ion-row>
    <!--<ion-col >
      <ion-icon class = "logo" name="contact"></ion-icon> 
   </ion-col>-->
   <i class="fa fa-user-circle logo"></i>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-list class= "login_unm_brder" no-line>
          <ion-item>                
              <!--<ion-icon name="person" class = "icon-left" item-left></ion-icon>-->
              <i class="fa fa-user i-left" item-left></i>
              <ion-input [(ngModel)]="username"
                          type="text" clearInput
                          placeholder="Usuario" class="userio_pswd" ></ion-input>                
          </ion-item>

          <ion-item>                
              <!--<ion-icon class = "icon-left" name="lock" item-left></ion-icon>-->
              <i class="fa fa-lock i-left" item-left></i>
              <ion-input [(ngModel)]="password"
                          type="password" 
                          placeholder="Contraseña" class="userio_pswd"></ion-input>                
          </ion-item>

          <ion-item>
            <ion-label class="term">Recuperar Contraseña</ion-label>
          </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col class="col-button">
      <button class="non-shadow" ion-button small icon-start type="submit" (click)="gotomainLogin(username, password)">
        <!--<ion-icon name="key"></ion-icon>-->
        <i class="fa fa-key i-left-button"></i>
        Entrar
      </button>      
    </ion-col>
  </ion-row>

  <ion-row >
    <ion-col class="option-label">
      <ion-label >Otras Opciones</ion-label>      
    </ion-col>
  </ion-row>

  
  <ion-row style="margin-top: -22px;" >
    <ion-col col-3>
    </ion-col>
    <ion-col col-3> 
      <button class="none-bg">     
      <i class=" fa fa-th active-button i-keypad" (click)="gotoKeypadLogin()"></i>
      </button>
    </ion-col>

    <ion-col col-3>      
      <i class="fa fa-envelope deactive-button"></i>
    </ion-col>
        
    <ion-col col-3>      
    </ion-col>
  </ion-row>

  

  </ion-grid>

</ion-content>
