<ion-header>
  <!--<ion-navbar>
    <ion-title>
      MyShop
    </ion-title>
  </ion-navbar>-->
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col>
      <img id = "userprofile_bg" src = "assets/ic_profile.png">home-page
   </ion-col>
  </ion-row>

</ion-content>

