page-home {

    ion-content {
        background: #252525 !important;
        
    }

}




page-login-email {
    
        ion-content {
    
            background:#000  !important;
            
        }
    
        // ion-input {
        //     color: #999999 !important
        // }
    
        ion-grid.grid {
            width: 300px;
            text-align: center;
        }
    
        ion-row {
            margin-top: 1rem;
        }    
    
        ion-col.logo {
            text-align: center;
            margin-top: 60px;
        }
        // ion-icon.logo {
        //     margin-top: 60px;
        //     font-size: 100px;
        //     color: #999999  !important
        // }
    
        i.logo {
            margin-top: 60px;
            font-size: 100px;
            margin-left: 100px;
            color: #999999  !important
            
           
        }
        // ion-icon.icon-left {
        //     color: #999999 !important 
        // }
    
        i.i-left {
            color: #999999 !important 
        }
    
        i.i-left-button {
            margin-right: 10px; 
        }
    
        i.active-button {
            font-size: 50px;
            color: #999999 !important
        }
    
        i.deactive-button {
            font-size: 50px;
            color: #5d5d5d !important
        }
        
        ion-list {
            padding: 2px;
        }
    
        ion-item {
            background: transparent !important;
            color: #000  !important;
    
            ion-label.term {
                color: #598cb7;
                text-decoration: underline;
                font-style: italic;
                font-size: 12px;    
            }
        }
    
        button.non-shadow {        
            background: #464646 !important;
            box-shadow: none;
        }
    
        button.none-bg{
            background: transparent;
        }
    
        ion-col.option-label{
            color: #000  !important;
            text-align: center;
            font-size: 16px;
            padding-left: 10px;
        }
    
        i.i-keypad {
          margin-top: 4px;
        }
    
        ion-col {
            text-align: center;
        }
    
        ion-col.col-button {
            text-align: right;
        } 
    }