// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



//--------css_for_menu_drop_down
.menu-inner
{
        background: #47484a !important;
        margin-top: 44px !important;
        width: 270px !important;;
      
}
ios,
.toolbar-background-md {
    border-color: #b2b2b2 !important;
    background: #448eb9 !important;
    color : #fff !important;
}
.toolbar-md {
    min-height: 0px !important; 
   
}

.toolbar-title-md {
    color: #fff !important;
     font-size: 16px !important; 
    font-weight: bold !important;
}

.item
{
   // background: #47484a !important;
    color: #fff;
   
}
.item-md
{
   padding-left: 0px !important; 
}
.item-md.item-block .item-inner {
       
        border-bottom: 0px solid #2e2f30 !important;
}
 .side_nav_icon
 {
     margin-right: 20px;
 }
     .side_nav_btn  :hover 
 {
     background: #4786a5;
 }
 .side_nav_btn  
 {
     background: #47484a;
 }
    .side_nav_icon
 {
         margin-left: 15px;
 }
  .search_pos{
       
         margin-top: -22px!important;
        //margin-left: -10px !important;
  }
.searchbar-md {
    padding: 0px !important; 

        }
.swiper-slide
{
 //width: 300px !important;   
  //margin-left: -4.5px !important;
}
    
