
  <ion-menu  [content]="content">
           

            <ion-header>
               
                      <button ion-item *ngFor="let p of pages" (click)="openPage(p)" class="side_nav_btn">
                        <i class="fa fa-{{ p.icon}} side_nav_icon" aria-hidden="true" ></i>{{p.title}} 
                       </button>
            </ion-header>

          </ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content  ></ion-nav>    
           


<!--<ion-nav [root]="rootPage"></ion-nav>-->
