<!--
  Generated template for the LoginKeypadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!--<ion-navbar>
    <ion-title>LoginKeypad</ion-title>
  </ion-navbar>-->

</ion-header>


<ion-content padding>

  <ion-passcode [(options)]="passcodeOptions" ></ion-passcode>

</ion-content>



