page-menu {
  .head
  {
      color:#fff;
  }
    .f_menu_col
{
    margin: 0.3px;
    cursor: pointer;
     background: #5b7081;
    padding: 37px;
    height:100px;

   //width: 24%;
}
.f_sub_menu_col
{
   margin: 0.3px;
  cursor: pointer;
     background: #6c9fc4;
    height:100px;
    padding: 37px;
    
    //width: 24%;
}
.menu_col
{
    margin: 0.3px;
    cursor: pointer;
     background: #5b7081;

    height:55px;
   font-size: 11px;
    padding: 15px;
   //width: 24%;
}
.pading1{

    padding: 1px;
}
.sub_menu_col
{
   margin: 0.3px;
  cursor: pointer;
     background: #6c9fc4;
    height:55px;
    font-size: 11px;
    padding: 10px;
   
    //width: 24%;
}
.outer
{
    background: #414142;
    color: #fff;
}
.swiper-container {
     height: auto !important;
}
    
    .datetime-md {
     padding: 0px !important; 
}
  .foot
    {
   // margin: 1px;
       background: #448eb9;
      padding: 15px;
      height:65px;    
    }
    .mob_foot
    {

       background: #448eb9;
      padding: 22px;
      height:65px;    
      font-size: 14px;
      padding: 6px;
    }

    .side_buttn
    {
      cursor: pointer;
        color: #fff;
        
         
    }
    .mob_side_menu
    {
         z-index: 1px;
       
        height : 480px;
    }
    .mob_slide
    {
        background: #4d4d4f;
    }
    .side_menu
    {
        z-index: 1px;
        background: #4d4d4f;
       // height: 980px;
        
        
    }
    .side_icon
    {
      cursor: pointer;
     // margin-left: 18px;
     padding: 3px 18px ;

    }
    .mob_side_icon
    {
        cursor: pointer;
        margin-left: 18px;
        margin-top: 200px;
    }
    .search_bar
    {
        cursor: pointer;
       background: #4786a5 !important ;
        font-size: 22px;
        color: #fff;
}
    
   .item-md {
      background-color: #414142 !important; 
      color: #fff !important;
   }
  

.item-md.item-block .item-inner
  {
      border-bottom: none !important; 
  }
ion-slides {
    //height: 0% !important;
}
.bar-button-md {
    height: 0px !important;
}
.togg_menu_item
{
    color: #fff;
    margin-left: -40px;
    font-weight: bold;
}
.margin_top
{
        margin-top: -6px;
}

.ttl
{
    font-weight: bold;
    font-size: 22px;
    //margin-left: 18px;

    
   
}
.mob_bill_ttl
{
     font-weight: bold;
    font-size: 17px;
}
.fnt_size
{
    font-size: 15px;
    font-weight: bold;
    //margin-left: 18px;
   
 

}
.side_div_margin
{
    margin-left: 18px;
    cursor:pointer;
    
 
}
.select_menu
{
    background: #47484a;
    font-size: 14px;
}
.bottom
{
   background: #4d4d4f;

}
.align_rgt
{
    text-align: right;
}
.mob_bottom
{
   // position: fixed;
    //bottom: 20px;
    width: 100%;
   
    
}



.back_grnd
{
    background: #414142;
   
}

  .map-div {
    
  
   // margin-left: 27px;
    font-weight: bold;
    padding : 5px 36px;
   
  }

.map1
{
    width: 100%;    
    height: 100%;
}
     button.none-bg{
        background: transparent;
       
    }
     i.active-button {
        font-size: 27px;
        color: #999 !important ;
        
    }
   .mob_margin
   {
       margin-left: 29px;
       font-size: 13px;
       padding: 3px;
       font-weight: bold;
   }
    .mob_bottom_ttl
    {
        padding: 5px 15px;
        font-size: 15px;
    }
    .scroll-content
    {
        //height: 100px;
    }
    .mob_scrl
    
    {
        font-weight: bold;
        font-size: 13px;
        padding: 5px 15px;
    }
    .btm_out
    {
        margin: 5px 36px;
        width: 100%;
    }


//------------------------------------app.css






}
