<!--
  Generated template for the MenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->




<ion-header  class="head" no-border>
  <ion-navbar>
   <!-- <ion-datetime displayFormat="MMM DD, h:mm A" [(ngModel)]="myDate" ></ion-datetime> -->
    <ion-title text-center>
      <!--<ion-datetime displayFormat="MMM DD, h:mm A" [(ngModel)]="myDate" float-left></ion-datetime>-->
       <button ion-button secondary menuToggle>
         <ion-icon name="menu" class="togg_menu_item" ></ion-icon></button>
          Cristina Mendoza   
     <button (click)="show_search($event)" class="search_bar" float-right>
        <button class="none-bg" >
          <i class="fa fa-search active-button" aria-hidden="true" ></i>
        </button>
    </button>
     </ion-title>
  </ion-navbar> 
</ion-header>


<ion-content class="outer"  hideWhen="portrait" >


  <ion-row  class="back_grnd">

  
    <ion-col col-12 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4  class="side_menu" [style.height]="higt" >
  <!--  side_left__icon      -->
      <ion-row col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 class="side_icon">
        <ion-col *ngFor="let item of side_up_icon"  style="padding:3px !important;" col-2.4>
          <button class="none-bg" >
            <i class="fa fa-{{ item.icon }} active-button" ></i>
          </button>
        </ion-col>

        
      </ion-row>
  <!-- selected_product_list     --> 
  <div style="overflow: hidden;height: 66%;" >
      <div     style="height: 100%; overflow-y: scroll"  id='scrol_product'>
         <ion-row *ngFor="let item of side_menu" class="map-div " [style.font-size]="fnt_size" >
            <ion-col col-1 >{{ item.number }}</ion-col>
            <ion-col col-7>{{ item.Component }}</ion-col>
            <ion-col col-4  text-right> ${{ item.prize }} </ion-col>
          
        </ion-row>
        <ion-row style="height:28px;"></ion-row>
      </div>
  </div>
       
    <!--  <ion-row style="height:15%;"></ion-row> -->
      <ion-row class="bottom"  >
      <div class="btm_out">
        <ion-col col-12>
           <ion-row *ngFor="let it of bill_ttl" class="fnt_size" [style.font-size]="fnt_size">
              <ion-col col-8>{{ it.component }}</ion-col>
              <ion-col col-4 text-right>${{ (it.prize) }}</ion-col>
          </ion-row>
        </ion-col>
      <ion-col col-12>
          <ion-row  class="ttl" [style.font-size]="fnt_size">
            <ion-col col-8>Total</ion-col>
            
            <ion-col col-4 text-right>${{ this.ttl }}</ion-col>
          </ion-row>
      </ion-col>
      </div>
      <ion-col  col-12>
        <ion-row [style.font-size]="fnt_size">
          <ion-col class="foot" style= "margin-right: 1px;" [style.height]="bot_height" text-center col-5.9>%<br> Discount</ion-col>
          <ion-col class="foot" text-center [style.height]="bot_height" col-5.9>$<br>Pager</ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

  </ion-col>


  <ion-col  class="margin_top" col-12 col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8  >
   <ion-searchbar *ngIf="i" ></ion-searchbar>    

      <ion-row *ngIf="newsData_length>=8">
      
       
         <ion-slides >

          <ion-slide  (click)="nextSlide()">
              <ion-row>
                <ion-col *ngFor="let item of news | slice:0:8" class="pading1" (click)="show_categ(item.ID)" col-3.9 col-xs-3.9 col-sm-2.9 col-md-3 col-lg-2.9 col-xl-2.9 text-center ><div class="f_menu_col">{{ item.Nombre }}</div></ion-col>
              </ion-row> 

            </ion-slide>

            <ion-slide (click)="prevslide()" >
              <ion-row>
                  <ion-col *ngFor="let item of news | slice:8" class="pading1" col-3.9 col-xs-3.9 col-sm-2.9 col-md-3 col-lg-2.9 col-xl-2.9 text-center><div class="f_menu_col">{{ item.Nombre }}</div></ion-col>
              </ion-row>
            </ion-slide>

            
            
            

        </ion-slides>
    
      </ion-row>

      <ion-row  *ngIf="newsData_length<8" >
          <ion-col *ngFor="let item of news"  class="pading1" (click)="show_categ(item.CategoriaID)" col-3.9 col-xs-3.9 col-sm-2.9 col-md-3 col-lg-2.9 col-xl-2.9 text-center><div class="f_menu_col">{{ item.Nombre  }}</div></ion-col>
        </ion-row> 
   
       

        <ion-row>
           <ion-col *ngFor="let item1 of this.sub_main_menu_filter" class="pading1" col-3.9 col-xs-3.9 col-sm-2.9 col-md-3 col-lg-2.9 col-xl-2.9  text-center>
             <div class="f_sub_menu_col" (click)="addItem(item1.Nombre,item1.PrecioSinImpuesto)">{{ item1.Nombre }}</div>
            </ion-col>
        </ion-row> 
  </ion-col>
  </ion-row>
</ion-content>

<!--############   code for mobile screen  -->

<ion-content class="outer" showWhen="portrait" >
 <ion-row >
  <ion-slides  #slideTwo>
    <ion-slide class="mob_slide" style="height: 60%;">
    <ion-row style="height: 560px;">
      <ion-col col-12 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4  class="mob_side_menu" >
        <ion-row col-xs-12 class="side_icon">
          <ion-col *ngFor="let item of side_up_icon"  col-2.4>
            <button class="none-bg" >
              <i class="fa fa-{{ item.icon }} active-button" ></i>
            </button>
          </ion-col>
        </ion-row>
        
      <ion-row>

      
     <!--   <ion-scroll  scrollY="true" style="width: 100%; height: 250px;"> 
              <ion-row *ngFor="let item of side_menu" class="side_div_margin map1 mob_margin"  (click)="show_corre_menu(item.Component)" >
                  <ion-col col-1 style= "text-align:left;">{{ item.number }}</ion-col>
                  <ion-col col-7 style= "text-align:left;">{{ item.Component }}</ion-col>
                  <ion-col col-4 style="text-align:left;">${{ item.prize }}</ion-col>
             </ion-row> 
     </ion-scroll >
    -->
  
    <div style="overflow: hidden;height: 314px;" class="mob_scrl" col-12>
        <div     style="height: 100% ; overflow-y: scroll"  id='scrol_product'>
          <ion-row *ngFor="let item of side_menu" (click)="show_corre_menu(item.Component)" >
              <ion-col col-2>{{ item.number }}</ion-col>
              <ion-col col-7 text-left>{{ item.Component }}</ion-col>
              <ion-col col-3 text-right> ${{ item.prize }} </ion-col>
          </ion-row>
          <!--<ion-row style="height:28px;"></ion-row>-->
        </div>
    </div>
            <div class="mob_bottom">
              <div class="mob_bottom_ttl"> 
                <ion-row *ngFor="let it of bill_ttl" >
                    <ion-col col-8 text-left>{{ it.component }}</ion-col>
                    <ion-col col-4 text-right>${{ (it.prize) }}</ion-col>
                </ion-row>
                <ion-row  class="mob_bill_ttl">
                    <ion-col col-8 text-left>Total</ion-col>
                    <ion-col col-4 text-right>${{ this.ttl }}</ion-col>
                </ion-row>
              </div>
              <ion-row>
                  <ion-col class="mob_foot" style="margin-right: 1px;" text-center col-5.9>% <br>Descuento</ion-col>
                  <ion-col class="mob_foot" text-center col-5.9>$ <br>Pagar</ion-col>
              </ion-row>
          </div> 
   
      
    </ion-row>
    </ion-col>
  </ion-row>
</ion-slide >
 
     
  <ion-slide  >
    <ion-col  class="margin_top" col-12 col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8  >

     <ion-row class="search_pos"> <ion-searchbar *ngIf="i" style="height: 26px !important;"></ion-searchbar>  </ion-row>
    <!--  <ion-row col-xs-12 class="side_icon">
              <ion-col *ngFor="let item of side_up_icon"  col-2.4>
                <i class="fa fa-{{ item.icon }} side_buttn" aria-hidden="true"></i>
              </ion-col>
        </ion-row> -->

       <ion-row col-xs-12 class="side_icon">
            <ion-col *ngFor="let item of side_up_icon"  col-2.4>
              <button class="none-bg" >
                <i class="fa fa-{{ item.icon }} active-button" ></i>
              </button>
            </ion-col>
          </ion-row>

        <div class="select_menu">
          <ion-row  class="side_div_margin " col-xs-12 >
            <ion-col col-1>{{ this.num }}</ion-col>
            <ion-col col-6>{{ this.com }}</ion-col>
            <ion-col col-5>${{ this.priz }}</ion-col>
          </ion-row>
        </div>
        <ion-row *ngIf="newsData_length>=6">
          <ion-slides>
            <ion-slide (click)="nextSlide()">
              <ion-row>
                <ion-col *ngFor="let item of news | slice:0:6" class="pading1" col-4 col-xs-4 col-sm-3 col-md-3 col-lg-3 col-xl-3 text-center > 
                  <div class="menu_col">{{ item.Nombre }}</div></ion-col>
              </ion-row> 
            </ion-slide>
            <ion-slide  (click)="prevslide()">
              <ion-row>
                <ion-col *ngFor="let item of news | slice:6" class="pading1" col-4 col-xs-4 col-sm-3 col-md-3 col-lg-3 col-xl-3 text-center>
                  <div class="menu_col">{{ item.Nombre }}</div></ion-col>
              </ion-row>
            </ion-slide>
         </ion-slides>
        </ion-row> 
   
      <ion-row *ngIf="newsData_length<6 " >
          <ion-col *ngFor="let item of news"class="pading1" (click)="show_categ(item.ID)" col-4 col-xs-4 col-sm-3 col-md-3 col-lg-3 col-xl-3  text-center>
            <div class="menu_col">{{ item.Nombre }}</div></ion-col>
        </ion-row>
        <ion-row>
          <ion-col *ngFor="let item of this.sub_main_menu_filter" class="pading1" col-4 col-xs-4 col-sm-3 col-md-3 col-lg-3 col-xl-3  text-center>
            <div class="sub_menu_col"  (click)="addItem(item.Nombre,item.PrecioSinImpuesto)" >{{ item.Nombre }}</div></ion-col>
        </ion-row> 
    </ion-col>
    <div class="select_menu">
      <ion-row  class="side_div_margin" col-xs-12 >
        <ion-col text-center> Pager $120.25</ion-col>
      </ion-row>
    </div>
  </ion-slide>
 
  </ion-slides >
</ion-row>
<!--############   end_code for mobile screen  -->

</ion-content>
